<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Easy English</title>
</head>

<body>
    <header>
        <div>
            <div>Image</div>
            <div>About</div>
            <div>Course</div>
            <div>Result Student</div>
            <div>Calender Course</div>
            <div>Contact</div>
            <div>Log in</div>
            <div>Register</div>
        </div>
    </header>
    <main>

    </main>
    <footer>
        <div>About</div>
        <div>Thong tin lien he</div>
        <div>Ho tro chung </div>
        <div>Trang mang xa hoi </div>
    </footer>
</body>
<script>
</script>

</html>